flows/QuickStartChartIntro.json
[
    {
        "id": "50483bc1.2451ec",
        "type": "tab",
        "label": "Quickstart",
        "disabled": false,
        "info": ""
    },
    {
        "id": "696262f9.9ca6e4",
        "type": "tab",
        "label": "Chart Intro",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6876d733.c763",
        "type": "tab",
        "label": "Dashboard Intro",
        "disabled": false,
        "info": ""
    },
    {
        "id": "281fa8e7.cebd28",
        "type": "tab",
        "label": "QuickStart Chart",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ad8c3007.6e25a8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "978f8da0.f3bbb8",
        "type": "ui_group",
        "z": "",
        "name": "IoT QuickStart Charts",
        "tab": "562ef1af.57f6d8",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "562ef1af.57f6d8",
        "type": "ui_tab",
        "z": "",
        "name": "Sim IoT Data Chart",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "5bdb1024.599cf",
        "type": "ui_group",
        "z": "6876d733.c763",
        "name": "Dashboard Controls",
        "tab": "14f2fb10.091de5",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "e29bbb44.6e2e48",
        "type": "ui_group",
        "z": "",
        "name": "Start / Stop",
        "tab": "14f2fb10.091de5",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "14f2fb10.091de5",
        "type": "ui_tab",
        "z": "6876d733.c763",
        "name": "Introduction",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "d15df4a3.a9cb8",
        "type": "ui_group",
        "z": "",
        "name": "Line Chart Examples",
        "tab": "23b183f1.8a1aec",
        "disp": true,
        "width": "8"
    },
    {
        "id": "343bc84b.89f318",
        "type": "ui_group",
        "z": "",
        "name": "Bar Chart Examples",
        "tab": "23b183f1.8a1aec",
        "order": 3,
        "disp": true,
        "width": "8"
    },
    {
        "id": "739f26be.63036",
        "type": "ui_group",
        "z": "",
        "name": "Pie Chart Examples",
        "tab": "23b183f1.8a1aec",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "23b183f1.8a1aec",
        "type": "ui_tab",
        "z": "",
        "name": "Chart Examples",
        "icon": "fa-area-chart",
        "order": 1
    },
    {
        "id": "e73f6e2f.41d358",
        "type": "ibmiot in",
        "z": "281fa8e7.cebd28",
        "authentication": "quickstart",
        "apiKey": "",
        "inputType": "evt",
        "ruleId": "",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "quickstart",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 93,
        "y": 128,
        "wires": [
            [
                "c801e99a.a8091",
                "e36ea5bf.d2b8c8",
                "9f29a122.c76"
            ]
        ]
    },
    {
        "id": "c801e99a.a8091",
        "type": "debug",
        "z": "281fa8e7.cebd28",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 268,
        "y": 84,
        "wires": []
    },
    {
        "id": "d7ccf0d0.745958",
        "type": "ui_chart",
        "z": "281fa8e7.cebd28",
        "name": "",
        "group": "978f8da0.f3bbb8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "QuickStart Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "15",
        "ymax": "50",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 494.5,
        "y": 128,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6518e33f.7b317c",
        "type": "ui_chart",
        "z": "281fa8e7.cebd28",
        "name": "",
        "group": "978f8da0.f3bbb8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "QuickStart Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 494.5,
        "y": 178,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e36ea5bf.d2b8c8",
        "type": "change",
        "z": "281fa8e7.cebd28",
        "name": "Chart Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 284.5,
        "y": 128,
        "wires": [
            [
                "d7ccf0d0.745958"
            ]
        ]
    },
    {
        "id": "9f29a122.c76",
        "type": "change",
        "z": "281fa8e7.cebd28",
        "name": "Chart Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 274.5,
        "y": 178,
        "wires": [
            [
                "6518e33f.7b317c"
            ]
        ]
    },
    {
        "id": "9d603705.027728",
        "type": "comment",
        "z": "281fa8e7.cebd28",
        "name": "QuickStart",
        "info": "",
        "x": 94.5,
        "y": 55,
        "wires": []
    },
    {
        "id": "71f3e0e8.5da4c",
        "type": "inject",
        "z": "6876d733.c763",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "b5aeaa0b.7a776"
            ]
        ]
    },
    {
        "id": "5150d47f.94b0e4",
        "type": "function",
        "z": "6876d733.c763",
        "name": "Random #s",
        "func": "if( msg.payload === false ) {\n    return null;\n}\nmsg.payload = Math.round(Math.random()*100);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "a1c9eaba.652318"
            ]
        ]
    },
    {
        "id": "4e4ea351.a9016c",
        "type": "ui_chart",
        "z": "6876d733.c763",
        "name": "Chart",
        "group": "5bdb1024.599cf",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Random #",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Querying Entropy",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 350,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3c9ee764.44b838",
        "type": "ui_gauge",
        "z": "6876d733.c763",
        "name": "Gauge",
        "group": "5bdb1024.599cf",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 350,
        "y": 280,
        "wires": []
    },
    {
        "id": "c55eb04a.28df",
        "type": "ui_slider",
        "z": "6876d733.c763",
        "name": "",
        "label": "Slider",
        "group": "5bdb1024.599cf",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": "100",
        "step": "",
        "x": 350,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "59f55e44.cd20e",
        "type": "ui_text",
        "z": "6876d733.c763",
        "group": "5bdb1024.599cf",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 350,
        "y": 360,
        "wires": []
    },
    {
        "id": "b5aeaa0b.7a776",
        "type": "ui_switch",
        "z": "6876d733.c763",
        "name": "",
        "label": "Switch",
        "group": "e29bbb44.6e2e48",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "5150d47f.94b0e4"
            ]
        ]
    },
    {
        "id": "c6fe5040.ba8a28",
        "type": "ui_text",
        "z": "6876d733.c763",
        "group": "e29bbb44.6e2e48",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 270,
        "y": 60,
        "wires": []
    },
    {
        "id": "1ae49202.f0b086",
        "type": "inject",
        "z": "6876d733.c763",
        "name": "Instructions",
        "topic": "",
        "payload": "Use the toggle switch to start / stop the generation of random numbers",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "c6fe5040.ba8a28"
            ]
        ]
    },
    {
        "id": "33a48dd6.80c21a",
        "type": "ui_toast",
        "z": "6876d733.c763",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "185467f8.1512c",
        "type": "switch",
        "z": "6876d733.c763",
        "name": "Warn on High Values",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "90",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 400,
        "wires": [
            [
                "cc7b69fe.c0c688"
            ]
        ]
    },
    {
        "id": "cc7b69fe.c0c688",
        "type": "template",
        "z": "6876d733.c763",
        "name": "Alert Msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alert : Critical Value Detected {{payload}}",
        "output": "str",
        "x": 600,
        "y": 400,
        "wires": [
            [
                "33a48dd6.80c21a"
            ]
        ]
    },
    {
        "id": "a1c9eaba.652318",
        "type": "link out",
        "z": "6876d733.c763",
        "name": "",
        "links": [
            "d56fc3bc.955888"
        ],
        "x": 555,
        "y": 140,
        "wires": []
    },
    {
        "id": "d56fc3bc.955888",
        "type": "link in",
        "z": "6876d733.c763",
        "name": "",
        "links": [
            "a1c9eaba.652318"
        ],
        "x": 95,
        "y": 360,
        "wires": [
            [
                "4e4ea351.a9016c",
                "3c9ee764.44b838",
                "c55eb04a.28df",
                "59f55e44.cd20e",
                "185467f8.1512c"
            ]
        ]
    },
    {
        "id": "55959f39.b11468",
        "type": "ui_chart",
        "z": "696262f9.9ca6e4",
        "name": "",
        "group": "d15df4a3.a9cb8",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Single Line Plot",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 600,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2045522b.52609e",
        "type": "function",
        "z": "696262f9.9ca6e4",
        "name": "Fill Single Chart Array",
        "func": "var chart = [{\n    \"series\":[\"A\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},\n             {\"x\":1504029633514,\"y\":8},\n             {\"x\":1504029634400,\"y\":3}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 120,
        "wires": [
            [
                "55959f39.b11468",
                "6f83859c.ab0dcc"
            ]
        ]
    },
    {
        "id": "6f83859c.ab0dcc",
        "type": "debug",
        "z": "696262f9.9ca6e4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "5a87f5fd.21b07c",
        "type": "comment",
        "z": "696262f9.9ca6e4",
        "name": "Sample Dashboard that plots various Chart types",
        "info": "",
        "x": 250,
        "y": 60,
        "wires": []
    },
    {
        "id": "96082a7c.ce78f8",
        "type": "ui_chart",
        "z": "696262f9.9ca6e4",
        "name": "",
        "group": "d15df4a3.a9cb8",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Multiple Line Plots",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 610,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3de7d238.1993ee",
        "type": "function",
        "z": "696262f9.9ca6e4",
        "name": "Fill Multiple Line Chart Array",
        "func": "var chart = [  {\"series\":[\"A\",\"B\",\"C\"],\n                \"data\":[\n                    [{\"x\":1504029632890,\"y\":5},\n                     {\"x\":1504029636001,\"y\":4},\n                     {\"x\":1504029638656,\"y\":2}],\n                    [{\"x\":1504029633514,\"y\":6},\n                     {\"x\":1504029636622,\"y\":7},\n                     {\"x\":1504029639539,\"y\":6}],\n                    [{\"x\":1504029634400,\"y\":7},\n                     {\"x\":1504029637959,\"y\":9},\n                     {\"x\":1504029640317,\"y\":7}]\n                ],\n                \"labels\":[\"\"]}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 220,
        "wires": [
            [
                "96082a7c.ce78f8",
                "eb7a9984.4bc6d8"
            ]
        ]
    },
    {
        "id": "eb7a9984.4bc6d8",
        "type": "debug",
        "z": "696262f9.9ca6e4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "c64268c6.81a11",
        "type": "ui_chart",
        "z": "696262f9.9ca6e4",
        "name": "",
        "group": "343bc84b.89f318",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Vertical Bar Chart",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 610,
        "y": 540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "98bab48a.ebf1d8",
        "type": "inject",
        "z": "696262f9.9ca6e4",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "2045522b.52609e"
            ]
        ]
    },
    {
        "id": "3ed1b6e5.ac2392",
        "type": "inject",
        "z": "696262f9.9ca6e4",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 220,
        "wires": [
            [
                "3de7d238.1993ee"
            ]
        ]
    },
    {
        "id": "de092425.47ae88",
        "type": "inject",
        "z": "696262f9.9ca6e4",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 540,
        "wires": [
            [
                "6af78e68.ea61a8"
            ]
        ]
    },
    {
        "id": "6af78e68.ea61a8",
        "type": "function",
        "z": "696262f9.9ca6e4",
        "name": "Fill Bar Chart Array",
        "func": "var bar={};\nbar.labels = [\"Q1 16\",\"Q2 16\",\"Q3 16\",\"Q4 16\",\"Q1 17\",\"Q2 17\",\"Q3 17\"];\nbar.series = ['Sales A', 'Sales B', 'Sales C', 'Sales D'];\n// An array of 4 arrays of 7 elements\nbar.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[bar]};",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 540,
        "wires": [
            [
                "c64268c6.81a11",
                "a15bcda7.183ba8",
                "c1de5014.c8e9e8"
            ]
        ]
    },
    {
        "id": "a15bcda7.183ba8",
        "type": "debug",
        "z": "696262f9.9ca6e4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 620,
        "wires": []
    },
    {
        "id": "c1de5014.c8e9e8",
        "type": "ui_chart",
        "z": "696262f9.9ca6e4",
        "name": "",
        "group": "343bc84b.89f318",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Horizontal Bar Chart",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 610,
        "y": 580,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cfc564fa.cf30f8",
        "type": "ui_chart",
        "z": "696262f9.9ca6e4",
        "name": "",
        "group": "739f26be.63036",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Pie Chart",
        "chartType": "pie",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 580,
        "y": 320,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4ef700d.0b9468",
        "type": "function",
        "z": "696262f9.9ca6e4",
        "name": "Fill Pie Chart Array",
        "func": "var pie={};\npie.labels = [\"Geo1\",\"Geo2\",\"Geo3\",\"Geo4\",\"Geo5\"];\npie.series = ['Sales A', 'Sales B', 'Sales C', 'Sales D'];\npie.data =   [ [16, 27, 42, 65, 89] ];\n//return {payload:[pie]};\n\nvar pie={ \"labels\" : [\"Geo1\",\"Geo2\",\"Geo3\",\"Geo4\",\"Geo5\"],\n          \"series\" : ['Sales A', 'Sales B', 'Sales C', 'Sales D'],\n          \"data\"   : [ [16, 27, 42, 65, 89] ]\n        };\nmsg.payload = [pie];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 320,
        "wires": [
            [
                "cfc564fa.cf30f8",
                "a7d15979.4daa48",
                "a94e07f9.e1ee78",
                "66939261.568f5c",
                "9394e200.280cb8"
            ]
        ]
    },
    {
        "id": "a8bb98a8.f31dd",
        "type": "inject",
        "z": "696262f9.9ca6e4",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "4ef700d.0b9468"
            ]
        ]
    },
    {
        "id": "a7d15979.4daa48",
        "type": "debug",
        "z": "696262f9.9ca6e4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 480,
        "wires": []
    },
    {
        "id": "a94e07f9.e1ee78",
        "type": "ui_chart",
        "z": "696262f9.9ca6e4",
        "name": "",
        "group": "739f26be.63036",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Polar Area Chart",
        "chartType": "polar-area",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 600,
        "y": 400,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9394e200.280cb8",
        "type": "ui_chart",
        "z": "696262f9.9ca6e4",
        "name": "",
        "group": "739f26be.63036",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Radar Chart",
        "chartType": "radar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 590,
        "y": 440,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "66939261.568f5c",
        "type": "ui_chart",
        "z": "696262f9.9ca6e4",
        "name": "",
        "group": "739f26be.63036",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Donut Chart",
        "chartType": "pie",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "40",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 590,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d39be4a8.922098",
        "type": "ibmiot in",
        "z": "50483bc1.2451ec",
        "authentication": "quickstart",
        "apiKey": "",
        "inputType": "evt",
        "logicalInterfaceId": "",
        "ruleId": "",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "quickstart",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 95,
        "y": 70,
        "wires": [
            [
                "9b240014.32f1a8"
            ]
        ]
    },
    {
        "id": "9b240014.32f1a8",
        "type": "change",
        "z": "50483bc1.2451ec",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 70,
        "wires": [
            [
                "3ae976b3.19c35a"
            ]
        ]
    },
    {
        "id": "3ae976b3.19c35a",
        "type": "debug",
        "z": "50483bc1.2451ec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 465,
        "y": 70,
        "wires": []
    }
]
