flows/SimulatedDevChart.json
[
    {
        "id": "d0081a62.9152b8",
        "type": "tab",
        "label": "Simulated Device Chart",
        "disabled": false,
        "info": ""
    },
    {
        "id": "de640a35.5e63a8",
        "type": "ibmiot in",
        "z": "d0081a62.9152b8",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "ruleId": "",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "simDeviceType",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": true,
        "allApplications": "",
        "allDeviceTypes": false,
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 108,
        "y": 152,
        "wires": [
            [
                "ada58bc1.77b9d8",
                "8a7de35f.e9b8e",
                "ac317282.ff5738",
                "b16aa8aa.80ba38",
                "595d3a3f.545674"
            ]
        ]
    },
    {
        "id": "ada58bc1.77b9d8",
        "type": "debug",
        "z": "d0081a62.9152b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 272.5,
        "y": 111,
        "wires": []
    },
    {
        "id": "d91f6ac9.ba3848",
        "type": "ui_chart",
        "z": "d0081a62.9152b8",
        "name": "",
        "group": "ca0c354e.66194",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Simulated Device Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 519,
        "y": 155,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a1b4470.f9f37b8",
        "type": "ui_chart",
        "z": "d0081a62.9152b8",
        "name": "",
        "group": "ca0c354e.66194",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Simulated Device Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 529,
        "y": 205,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8a7de35f.e9b8e",
        "type": "change",
        "z": "d0081a62.9152b8",
        "name": "Chart Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 289,
        "y": 155,
        "wires": [
            [
                "d91f6ac9.ba3848"
            ]
        ]
    },
    {
        "id": "ac317282.ff5738",
        "type": "change",
        "z": "d0081a62.9152b8",
        "name": "Chart Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 279,
        "y": 205,
        "wires": [
            [
                "a1b4470.f9f37b8"
            ]
        ]
    },
    {
        "id": "d0d8083c.5a0728",
        "type": "comment",
        "z": "d0081a62.9152b8",
        "name": "Simulated Registered Devices",
        "info": "",
        "x": 171,
        "y": 70,
        "wires": []
    },
    {
        "id": "63d04e8f.593a7",
        "type": "ui_toast",
        "z": "d0081a62.9152b8",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 687,
        "y": 342,
        "wires": []
    },
    {
        "id": "b16aa8aa.80ba38",
        "type": "switch",
        "z": "d0081a62.9152b8",
        "name": "Warn on High Values",
        "property": "payload.d.temp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "90",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 297,
        "y": 342,
        "wires": [
            [
                "2748a650.030bca"
            ]
        ]
    },
    {
        "id": "2748a650.030bca",
        "type": "template",
        "z": "d0081a62.9152b8",
        "name": "Alert Msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alert : Critical Value Detected {{payload.d.temp}}",
        "output": "str",
        "x": 497,
        "y": 342,
        "wires": [
            [
                "63d04e8f.593a7"
            ]
        ]
    },
    {
        "id": "36970c0b.31a074",
        "type": "cloudant out",
        "z": "d0081a62.9152b8",
        "name": "",
        "cloudant": "",
        "database": "historicaldata1",
        "service": "cee-nodered-iot-chatbot-cloudantNoSQLDB",
        "payonly": true,
        "operation": "insert",
        "x": 680,
        "y": 460,
        "wires": []
    },
    {
        "id": "8686476b.69b678",
        "type": "cloudant out",
        "z": "d0081a62.9152b8",
        "name": "",
        "cloudant": "",
        "database": "historicaldata2",
        "service": "cee-nodered-iot-chatbot-cloudantNoSQLDB",
        "payonly": true,
        "operation": "insert",
        "x": 680,
        "y": 500,
        "wires": []
    },
    {
        "id": "2025c62b.07f26a",
        "type": "cloudant out",
        "z": "d0081a62.9152b8",
        "name": "",
        "cloudant": "",
        "database": "historicaldata3",
        "service": "cee-nodered-iot-chatbot-cloudantNoSQLDB",
        "payonly": true,
        "operation": "insert",
        "x": 680,
        "y": 540,
        "wires": []
    },
    {
        "id": "bf75b257.3e6608",
        "type": "switch",
        "z": "d0081a62.9152b8",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "simDevice_1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "simDevice_2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "simDevice_3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 470,
        "y": 500,
        "wires": [
            [
                "36970c0b.31a074"
            ],
            [
                "8686476b.69b678"
            ],
            [
                "2025c62b.07f26a"
            ]
        ]
    },
    {
        "id": "595d3a3f.545674",
        "type": "function",
        "z": "d0081a62.9152b8",
        "name": "Split Devices / Format Time Series DB",
        "func": "// Split - iot-2/type/simDeviceType/id/simDevice_1/evt/event_1/fmt/json\n// Reset topic to simDevice_N\nvar Device = msg.topic.split(\"/\");\nmsg.topic = Device[4];\nmsg.payload = {\n        time: new Date().getTime(),\n        data: msg.payload.d.temp\n    } ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 500,
        "wires": [
            [
                "36a9dbff.2bbdfc",
                "bf75b257.3e6608"
            ]
        ]
    },
    {
        "id": "36a9dbff.2bbdfc",
        "type": "debug",
        "z": "d0081a62.9152b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 470,
        "y": 455,
        "wires": []
    },
    {
        "id": "ca0c354e.66194",
        "type": "ui_group",
        "z": "",
        "name": "IoT Simulated Device Charts",
        "tab": "1300625f.dc9dae",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "1300625f.dc9dae",
        "type": "ui_tab",
        "z": "",
        "name": "Sim IoT Data Chart",
        "icon": "dashboard",
        "order": 3
    }
]
