flows/SimulatedDevChart.json
[
    {
        "id": "4f5afa8a.0adccc",
        "type": "tab",
        "label": "Simulated Device Chart",
        "disabled": false,
        "info": ""
    },
    {
        "id": "43df6cfa.efbd54",
        "type": "ibmiot in",
        "z": "4f5afa8a.0adccc",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "ruleId": "",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "simDeviceType",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": true,
        "allApplications": "",
        "allDeviceTypes": false,
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 90,
        "y": 220,
        "wires": [
            [
                "86b2846e.6d612",
                "ca379da7.239608",
                "b195e775.d8337",
                "aff92fff.d3c28"
            ]
        ]
    },
    {
        "id": "86b2846e.6d612",
        "type": "debug",
        "z": "4f5afa8a.0adccc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 272.5,
        "y": 111,
        "wires": []
    },
    {
        "id": "c337fffa.9ff0f8",
        "type": "ui_chart",
        "z": "4f5afa8a.0adccc",
        "name": "",
        "group": "2a929492.960314",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Simulated Device Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 519,
        "y": 155,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "83bf92da.12e9f",
        "type": "ui_chart",
        "z": "4f5afa8a.0adccc",
        "name": "",
        "group": "2a929492.960314",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Simulated Device Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 529,
        "y": 205,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ca379da7.239608",
        "type": "change",
        "z": "4f5afa8a.0adccc",
        "name": "Chart Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 289,
        "y": 155,
        "wires": [
            [
                "c337fffa.9ff0f8"
            ]
        ]
    },
    {
        "id": "b195e775.d8337",
        "type": "change",
        "z": "4f5afa8a.0adccc",
        "name": "Chart Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 279,
        "y": 205,
        "wires": [
            [
                "83bf92da.12e9f"
            ]
        ]
    },
    {
        "id": "fc3315ad.e3ab8",
        "type": "comment",
        "z": "4f5afa8a.0adccc",
        "name": "Simulated Registered Devices",
        "info": "",
        "x": 171,
        "y": 70,
        "wires": []
    },
    {
        "id": "87b3117a.4d1e38",
        "type": "ui_toast",
        "z": "4f5afa8a.0adccc",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 690,
        "y": 260,
        "wires": []
    },
    {
        "id": "aff92fff.d3c28",
        "type": "switch",
        "z": "4f5afa8a.0adccc",
        "name": "Warn on High Values",
        "property": "payload.d.temp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "90",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 300,
        "y": 260,
        "wires": [
            [
                "ef2c0394.810a5"
            ]
        ]
    },
    {
        "id": "ef2c0394.810a5",
        "type": "template",
        "z": "4f5afa8a.0adccc",
        "name": "Alert Msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alert : Critical Value Detected {{payload.d.temp}}",
        "output": "str",
        "x": 500,
        "y": 260,
        "wires": [
            [
                "87b3117a.4d1e38"
            ]
        ]
    },
    {
        "id": "3f84807f.2d6c18",
        "type": "cloudant out",
        "z": "4f5afa8a.0adccc",
        "name": "",
        "cloudant": "",
        "database": "historicaldata1",
        "service": "",
        "payonly": true,
        "operation": "insert",
        "x": 680,
        "y": 380,
        "wires": []
    },
    {
        "id": "33e2180.dd6c4e8",
        "type": "cloudant out",
        "z": "4f5afa8a.0adccc",
        "name": "",
        "cloudant": "",
        "database": "historicaldata2",
        "service": "",
        "payonly": true,
        "operation": "insert",
        "x": 680,
        "y": 420,
        "wires": []
    },
    {
        "id": "85525cec.29f86",
        "type": "cloudant out",
        "z": "4f5afa8a.0adccc",
        "name": "",
        "cloudant": "",
        "database": "historicaldata3",
        "service": "",
        "payonly": true,
        "operation": "insert",
        "x": 680,
        "y": 460,
        "wires": []
    },
    {
        "id": "bf1ef4de.7648b",
        "type": "switch",
        "z": "4f5afa8a.0adccc",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "simDeviceType_1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "simDeviceType_2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "simDeviceType_3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 470,
        "y": 420,
        "wires": [
            [
                "3f84807f.2d6c18"
            ],
            [
                "33e2180.dd6c4e8"
            ],
            [
                "85525cec.29f86"
            ]
        ]
    },
    {
        "id": "c71b6e48.e7b52",
        "type": "function",
        "z": "4f5afa8a.0adccc",
        "name": "Split Devices / Format Time Series DB",
        "func": "// Split - iot-2/type/simDeviceType/id/simDeviceType_1/evt/event_1/fmt/json\n// Reset topic to simDeviceType_N\nvar Device = msg.topic.split(\"/\");\nmsg.topic = Device[4];\nmsg.payload = {\n        time: new Date().getTime(),\n        data: msg.payload.d.temp\n    } ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 420,
        "wires": [
            [
                "adf69f17.53185",
                "bf1ef4de.7648b"
            ]
        ]
    },
    {
        "id": "adf69f17.53185",
        "type": "debug",
        "z": "4f5afa8a.0adccc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 470,
        "y": 375,
        "wires": []
    },
    {
        "id": "2a929492.960314",
        "type": "ui_group",
        "z": "",
        "name": "IoT Simulated Device Charts",
        "tab": "e7369856.a28f88",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "e7369856.a28f88",
        "type": "ui_tab",
        "z": "",
        "name": "Sim IoT Data Chart",
        "icon": "dashboard",
        "order": 3
    }
]
